{% extends 'base.html' %}
{% load static %}

{% block title %}
Echo
{% endblock title %}

{% block content %}
<h1>Echo Reply</h1>

<div class="section">

  <form id="echo-form" role="form" method="post">

    {% csrf_token %}

    <input type="hidden" name="id" value="{{echo.id}}" />
    <input type="hidden" name="input_count" value="{{echo.input_count|default:0}}" />
    <input type="hidden" name="input_keywords" value="{{echo.input_keywords|default:''}}" />

    <div class="row">
      <div class="input-field col s12 m2">
        <label>Question</label>
      </div>
      <div class="input-field col s12 m10">
        <span>{{source_echo.question}}</span>
      </div>
    </div>

    <div class="row" id="input-data-1">
      <div class="input-field col s12 m2">
        <label>Reply</label>
      </div>
      <div class="input-field col s12 m10">
        <textarea
          class="input_data_raw"
          placeholder="Write the answer to the Echo question above"
          name="input_data" >{{echo.input_data|default:''}}</textarea>
      </div>
    </div>

    <!-- the word spans from input_data_1 -->
    <div class="row hide" id="word-spans">
    </div>

    <div class="row">
      <div class="col s12">
        <button id="continue" type="button" class="waves-effect waves-light btn-small">Continue</button>
      </div>
    </div>

    <div class="divider"></div>

    <div class="section hide" id="reorder-words" >
      <h5>Rank your chosen words in order of significance by dragging and dropping them, with the most significant word at the top:</h5>
      <div class="collection">
        <div class="collection-item">word 1</div>
        <div class="collection-item">word 2</div>
        <div class="collection-item">word 3</div>
        <div class="collection-item">word 4</div>
      </div>

      <div class="row pt-1">
        <div class="col s12">
          <button type="submit" class="waves-effect waves-light btn-small">Save</button>
        </div>
      </div>
    </div>

  </form>

    <div class="divider"></div>

    <div class="row pt-1">
      <div class="col s12">
        <a class="waves-effect waves-light btn-small" href="{{ back_url }}">Back</a>
      </div>
    </div>

</div>

{% block content_2 %}
<h3>TEST</h3>
{% endblock content_2 %}

{% endblock content %}


{% block js %}
<script src="{% static 'js/sortable.min.js' %}"></script>
<script src="{% static 'js/echo.js' %}"></script>
{% endblock js %}
