<div class="row">
  <div class="input-field col s2 cadence cadence-5">
    <a class="waves-effect waves-light btn-small hide">Assert</a>
  </div>
  <div class="input-field col s2 cadence cadence-6">
    <a class="waves-effect waves-light btn-small hide">Produce</a>
  </div>
  <div class="input-field col s2 cadence cadence-7">
    <a class="waves-effect waves-light btn-small hide">Think</a>
  </div>
  <div class="input-field col s2 cadence cadence-8">
    <a class="waves-effect waves-light btn-small hide">Protect</a>
  </div>
  <div class="input-field col s2 cadence cadence-9">
    <a class="waves-effect waves-light btn-small hide">Create</a>
  </div>
  <div class="input-field col s2 cadence cadence-10">
    <a class="waves-effect waves-light btn-small hide">Analyse</a>
  </div>
</div>
<div class="row">
  <div class="input-field col s2 cadence cadence-11">
    <a class="waves-effect waves-light btn-small hide">Relate</a>
  </div>
  <div class="input-field col s2 cadence cadence-12">
    <a class="waves-effect waves-light btn-small hide">Transform</a>
  </div>
  <div class="input-field col s2 cadence cadence-13">
    <a class="waves-effect waves-light btn-small hide">Develop</a>
  </div>
  <div class="input-field col s2 cadence cadence-14">
    <a class="waves-effect waves-light btn-small hide">Organise</a>
  </div>
  <div class="input-field col s2 cadence cadence-15">
    <a class="waves-effect waves-light btn-small hide">Progress</a>
  </div>
  <div class="input-field col s2 cadence cadence-16">
    <a class="waves-effect waves-light btn-small hide">Imagine</a>
  </div>
</div>
